@import "~bootstrap/scss/bootstrap.scss";

body {
    background: white;
}

.header-logo {
    height: 65px;
    width: auto;
}

.hero-image-org {
    background-image: url("https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 300px;
    width: 100%;
}

.hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
}
.org-logo {
    height: 150px;
    width: auto;
    margin-top: 20px;
}
.org-info {
    margin-top: 20px;
}
.org-donate {
    margin-top: 20px;
}